<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div id="app">
    <div class="container">
        <form v-if="!submitted" class="mt-5">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" v-model="email" class="form-control form-control-lg">
            </div>
            <button type="submit" @click.prevent="process" class="btn btn-primary">Submit</button>
        </form>
        <h2 v-if="submitted">Thank you for signing up!</h2>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    const vm = new Vue({
        el: '#app',
        data: {
           email: "chris@email.com",
           submitted: false
        },
        methods: {
            process: () => {
                vm.submitted = true
                console.log(vm.email)
            }
        }
    })
</script>